/*------------------------------------Commmon------------------------------------------------*/
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}
/*------------------------------HEADER------------------------------------------------*/
.header{
    background: url("../src/assets/images/headerLayerMask.png") no-repeat  , url("../src/assets/images/Layer_1.png");
    background-size: 830px 130px  , cover ;
    padding-bottom: 5px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}
.logo-text .logo-title {
    font-size: 28px;
    margin: 0;

}
.logo-text .logo-subtitle {
    font-size: 16px;
}
.header__logo {

    margin: 44px 0 21px 0;
}
.logo-text {
    color:#fff;
    position: relative;
    margin: 0 0 0 30px;
}
.header__logo .logo-img {
    top: 19px;
    position: absolute;
}
.header__contacts {
    align-self: flex-end;
    margin-bottom: 21px;
}
.header__contacts .contacts {
    font-size: 24px;
    color: #fff;
}
/*------------------------------------NAVBAR------------------------------------------------*/
.nav-bar {
    background-color: #e9e9e9;
}
.nav-bar-wrapper {
    display: flex;
    justify-content: space-between;
}
.nav-bar .menu {
    list-style: none;
    display: flex;
    padding-left: 10px;
}
.nav-bar .menu .menu__item:not(:last-child) {
    margin-right: 20px;
}
.nav-bar .menu .menu__item {
}
.nav-bar .menu .menu__item:hover {

}
.nav-bar .menu .menu__item .menu__link {

    padding: 12px 15px 30px 15px;
    color: #3a5362;
    text-decoration: none;
}
.nav-bar .menu .menu__item .menu__link:hover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: red;
    color: #ffffff;
    text-decoration: none;
}
.nav-bar .auth {
    align-self: center;
}
/*------------------------------------Main Content------------------------------------------------*/
.main-content {
    background: url("../src/assets/images/mainContentMask2.png") no-repeat , url("../src/assets/images/mainContentMask1.png") no-repeat, url("../src/assets/images/mainContentBg.png")no-repeat;
    background-size: cover;
}
.main-content-wrapper {
    display: flex;
    justify-content: space-between;
}
.form-container {
    width: 500px;
    height: 200px;
    background: linear-gradient(180deg, rgba(86,164,191,1) 0%, rgba(49,108,147,1) 100%);
}
.slider {
    min-width: 0;
}
.slick-dots li button:before
{
    font-size: 20px;
    line-height: 20px;
    color: white;
    opacity: .90;
}
.slick-dots li.slick-active button:before {
    color:#2C5F7F !important;
}
.slide-description {
    border-top: #3686B8 solid 1px;
    background-color: #1A425A;
}
.slide-description p,h2 {
    color: white;
}
.slick-list{
    box-sizing: border-box;
    border: #F2E8E8 solid 9px;
}
/*----------------------------------buy_sell-rent----------------------------------------------*/
.buy_sell-rent {
    display: flex;
}